<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
<div class="Body-Cart">
    <h1>Giỏ hàng</h1>
    <div class="Cart">
        <table class="cart-table">
            <thead>
            <tr>
                <th colspan="2" class="text-center th1">Thông tin chi tiết sản phẩm</th>
                <th class="text-center th2">Đơn giá</th>
                <th class="text-center th3">Số lượng</th>
                <th class="text-end th4">Tổng giá</th>
            </tr>
            </thead>
        </table>
        <div class="cart-items">
            <label>Sản phẩm nằm ở đây</label>
        </div>
    </div>

    <div class="cart-information">
        <div class="cart-note">
            <label>Chú thích cho chủ cửa hàng</label>
            <textarea></textarea>
        </div>
        <div class="cart-price">
            <p>
                <span class="cart-subtotal-tile">Tổng tiền:</span>
                <span class="cart-subtotal">0₫</span>
            </p>
            <button>CẬP NHẬT</button>
            <button>THANH TOÁN</button>
        </div>
    </div>
</div>
</body>
</html>